<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ADMIN_STATIC__/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__ADMIN_STATIC__/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__ADMIN_STATIC__/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN_STATIC__/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN_STATIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN_STATIC__/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ADMIN_STATIC__/h-ui.admin/css/style.css" />
    <link rel="stylesheet" type="text/css" href="__ASTATIC__uploadify/uploadify.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__ADMIN_STATIC__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--<script type="text/javascript" src="__ADMIN_STATIC__/lib/jquery/1.9.1/jquery.min.js"></script>-->
    <script src="__ASTATIC__common/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="__ADMIN_STATIC__/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="__ADMIN_STATIC__/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="__ADMIN_STATIC__/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="__ADMIN_STATIC__/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__ADMIN_STATIC__/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>

    <title>{block name="title"}ThinkPHP5{/block}</title>
</head>
<body>
{block name="content_show"}
<div class="page-container">
</div>
{/block}
{block name="footer"}
<footer class="footer mt-20">
    <div class="container">
        <p>感谢jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br>
            Copyright &copy;2015-2017 H-ui.admin v3.1 All Rights Reserved.<br>
            本后台系统由<a href="http://www.h-ui.net/" target="_blank" title="H-ui前端框架">H-ui前端框架</a>提供前端技术支持</p>
    </div>
</footer>
{/block}
</body>
</html>
